
.navbar-dark .navbar-toggler {
  border-color: transparent;
}


.home-nav-item {
  margin-right: 15%;
}
.navbar-dark .navbar-nav .nav-link {
      color:#f2f2f2;
     
  }

  .nav-link:hover {
      color: white;
  }

  .navbar {
    font-size: 0.8em;
    padding-top: 1.5%;
    margin-right: 10%;
    margin-top: 0%;
    
}

.navbar-brand {
    letter-spacing: 5%;
}

.bg-1 {
    background-image: url("images/header1.png");
    background-size: cover;/*  make the image cover the whole div */
}


.head-1 {
    margin-top: 5%;
color: white;
font-family: nunito sans;
font-size: 7em;
             }

.btn-info {
    background-color: #0EBCC7;
    color: white;
    border: none;
    margin-bottom: 5%;
    font-family: nunito sans;
}

.bg-3 {
    padding-top: 2%;

}

.title3 {
    font-family: nunito sans;
    font-size: 2.5em;
    margin-top: 3%;
}

.info {
    text-align: left;
    padding-top: 8%;
    padding-left: 28%;
    font-size: 1.1em;
    font-family: PT Sans;
}

.img1 {
    padding-right: 5%;
}

.bg-4{
    background-color: #1C0552;
   margin-top: 5%;
   padding-left: 0%;
   padding-right:0%;
   color: white;
}

h5 {
    padding-top:5%;
}

h2.title2{
    margin-bottom: 4%;
    font-family: nunito sans;
    font-size: 2.5em;
}

h2.title2-5 {
  padding-top: 5%;
  margin-bottom: 4%;
  font-family: nunito sans;
  font-size: 2.5em;
}

.tag {
    text-align: left;
    font-family: PT Sans;
    font-size: 4em;
    color:#D73869;
    margin-top: 35%;

}

  /* Puts the form in the center both horizontally and vertically. Sets its height to 100% of the viewport's height */

.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } 

  .form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  
  .title {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }

  /* Style the inputs */

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
  
  /* Hide the placeholder texts (a) */
  
  ::placeholder {
    color: transparent;
  }

  /* Styling text labels */

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }

  .submitBtn {
    display: block;
    padding: 15px 30px;
    border: none;
    background-color: #D73869;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .submitBtn:hover {
    background-color: #D73869;
    transform: translateY(-2px);
  }

  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #D73869;
  }

  .input:focus {
    border: 2px solid #D73869;
  }

  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }

  footer {
    text-align: center;
    padding: 3px;
    background-image: url(images/footer.jpg);
    color: white;
    font-family: PT Sans;
  }

  .fa-facebook {
    color: white;
  }
  
  .fa-twitter {
    color: white;
  }

  .fa-instagram {
    color: white;
  }

  .fa-linkedin {
    color: white;
  }

  .fa:hover {
    opacity: 0.7;
    color: #D73869;
}
  .fa {
    padding: 1%;
    font-size: 2em;
    width: 7%;
    text-align: center;
    text-decoration: none;
    margin: 0.5% 0.5%;
    border-radius: 50%;
  }

  .foot {
    font-size: 1.25em;
    opacity: 0.9;
  }

  .bg-5 {
    background-image: url("images/header2.png");
    background-size: cover;/*  make the image cover the whole div */
height: 85vh; /* temporarily give the div some height  */ /* do not use pixel heights on divs- this is not responsive – instead add padding on the children as a  percentage*/
}


.bg-6 {
  padding-top: 3%;
  text-align: right;
    
}

.header-2 {
  padding-top: 5%;
color: white;
font-size: 6em;
font-family: nunito sans;         
}

.para-2 {
    padding-top: 1.5%;
color: white;
font-size: 1.5em;
font-family: nunito sans;          
}

.bg-7 {
  padding-top: 2%;
  margin-bottom: 0%;

}

.bg-8{
  background-color: #55050E;
 margin-top: 5%;
 padding-top: 3%;
 padding-bottom: 3%;
 padding-left: 0%;
 padding-right:0%;
 color: white;
}

.title2 {
  font-family: nunito sans;
  font-size: 2.5em;
  margin-top: 2%;
}

.info3 {
  text-align: left;
  padding-top: 8%;
  padding-left: 28%;
  font-size: 1.25em;
  font-family: PT Sans;
}

.img2 {
  padding-right: 5%;
}

.info4 {
  text-align: left;
  padding-top: 8%;
  padding-left: 7%;
  font-size: 1.25em;
  font-family: PT Sans;
}

.img3 {
  padding-left: 7%;
  
}

.maps {
  padding-top: 5%;
  font-family: nunito sans;
  margin-bottom: 5%;
}

.img-map {
  padding-top: 5%;
  padding-bottom: 10%;
}

.bg-9 {
  background-image: url("images/header3-5.png");
  background-size: cover;/*  make the image cover the whole div */
  padding-bottom: 45%;
}

.header-3 {
  background-color: #D73869;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom:3%;
  margin-bottom: 5%;
color: white;
font-size: 4em;
font-family: nunito sans;
text-align: left;
text-align: center;
}

.bg-10-container-fluid {
float: left;
margin-top: 15%;
}

.events-title {
  color: #D73869;
  font-size: 3em;
  font-family: nunito sans;
  margin-top: 3%;
}

.events-subpara {
  font-size: 2em;
  font-family: PT Sans;

}

.col-9 {
  padding-left: 0%;
  margin-top:5%;
  flex: 0 0 41%;
}

a.event-title {
  font-family: nunito sans;
  font-size: 1.45em;
  padding-top: 8%;
  color: #D73869;
  line-height: 3%;
}

.event-time {
  font-family: PT Sans;
  font-size: 0.65em;
  padding-bottom:0%;
}

.date {
  color:#D73869;
  font-size: 2.5em;
  font-family: nunito sans;
  margin-bottom: 0%;
}

.month {
  font-family: PT Sans;
  font-size: 0.75em;
  margin-top: 0%;
}

.events-imgs-container-fluid {
  margin-top: 3%;
  margin-bottom: 5%;
}


.explore {
  color: #D73869;
  font-family: PT Sans;
  font-size: 0.75em;
}

.explore2 {
  color: #D73869;
  font-family: PT Sans;
  font-size: 0.75em;
}

.subpara {
  margin-top: 5%;
  margin-bottom: 3%;  
  font-size: 2em;
  font-family: PT Sans;
}

.bg-11 {
  background-image: url("images/header1.png");
  background-size: cover;/*  make the image cover the whole div */
height: 20vh; /* temporarily give the div some height  */ /* do not use pixel heights on divs- this is not responsive – instead add padding on the children as a  percentage*/
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #0EBCC7;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #D73869;
}

/* Add a background color and some padding around the form */
.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 10%;
  margin-top: 10%;
  margin-left: 5%;
  margin-right:5%;
}








